@use '../../styles/mixins';
@import '../../styles/variables';

.container,
.container-comic {
  position: relative;
  background-color: map-get($colors, bg);
  box-shadow: $shadow;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.2s;
  }
}

.container {
  @include mixins.char-size;
  border-radius: 0 $default-size;

  img {
    width: $char-width;
    height: $char-height * 0.9;
    border-top-right-radius: $default-size;
  }

  h4 {
    @include mixins.flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    border-bottom-left-radius: $default-size;
    background-color: map-get($colors, title);
  }
}

.container-comic {
  width: 100%;
  //   height: 5.5rem;
  border-radius: $default-size;

  img {
    position: absolute;
    left: 0;
    width: 7rem;
    margin: 0;
  }

  h4,
  p {
    margin-left: 7rem + $default-size;
    //  width: 50%;
    margin-right: $default-size;
    text-align: center;
  }

  //   h4 {
  //     width: 40%;
  //   }

  //   p {
  //     width: 60%;
  //   }
}
