@use '../../styles/mixins';
@import '../../styles/variables';

.container {
  position: relative;
  width: $char-width;
  height: $char-height;
  border-radius: $default-size;
  background-color: map-get($colors, bg);

  h4 {
    @include mixins.flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    border-radius: 0 $default-size;
    background-color: map-get($colors, title);
  }
}
