$colors: (
  bg: aliceblue,
  char-bg: plum,
  title: purple,
);
$default-size: 1rem;
$shadow-size: $default-size / 4;
$shadow: $shadow-size $shadow-size $shadow-size grey;
$border: $default-size / 4 solid black;
$char-width: 15rem;
$char-height: 25rem;
$small-height: 5.625rem;
$header: 5rem;
